.page-hero-section{
    height: 100vh;
    margin-bottom: 54px;
    .img-bg{
        height: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero-heading{
     text-align: center;
     color: #fff;
     font-family: $primary-font;
     font-weight: 600;
     font-size: 42px;
     @media (min-width:992px) {
        font-size: 5em;
    }
    }
}

// .single-product .content-area{
//     @include make-container();

//     @media (min-width: 576px) {
//         max-width: 540px;
//     }

//     @media (min-width: 768px) {
//           max-width: 720px;
//       }
//       @media (min-width: 992px) {
//           max-width: 960px;
//       }
//       @media (min-width: 1200px) {
//           max-width: 1140px;
//       }
//       @media (min-width: 1400px) {
//           max-width: 1320px;
//       }
// }

// .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
//     background-color: #4E9100;
// }
// .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
//     background-color: #4E9100;
// }
// .onsale{
//     z-index: 0 !important;
// }
ul.products{
    li.product{
        > a{
            img{
                transition: opacity 0.2s ease-in-out;

                &.normal-image{
                     opacity: 1;
                }
                &.hover-image{
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        &:hover{
           > a{
                img{
                    &.normal-image{
                        opacity: 0;
                    }
                    &.hover-image{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
//     width: 98%;
// }
// @media(max-width: 768px){
    
// }
.woocommerce ul.products li.product .price {
color: 	#FF0000 !important;
}

.woocommerce ul.products li.product .price del{
    color:#000 !important;
}
