//hero section
    .hero-section{
    // background-image: url(../images/slider.jpg);
    // background-size: 100%;
    // height: 100vh;
    // @media (min-width: 768px) {
    //     display: block;
    // }
    .tns-outer{
        position: relative;
        .tns-controls{
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            left:0;
            transform: translateY(-50%);
            width: 100%;
            z-index: 3;
            button{
                background-color: transparent;
                box-shadow: none;
                border:none;
                color:#fff;
                font-size: 3em;
                padding: 0 30px;
                &:hover{
                 opacity: 0.7;
                }
            }
        }
    }
    .slides{
        .slide{
            // background-image: url(../images/heroimg.jpg);
            background-size: cover;
            background-position: top center;
                .slide-main{
                    align-items: center; 
                    height: 100vh;
                    display: flex;
                    background-size: cover;
                .hero-text{ 
                    text-align: center;
                    @media (min-width: 992px) {
                        text-align: left;
                        width: 100%;
                    }
                    p{
                    // padding-left: 185px;
                    font-weight: 500;
                    color: #fefffe;
                    font-size: 2em;
                    text-align: center;
                    text-shadow: 4px 2px 0px #787f80;
                    font-family: $primary-font;
                        @media (min-width: 992px) {
                            font-size: 3em;
                        }
                    }
                    .hero-heading{
                        // font-style: italic;
                        color: #fefffe; 
                        text-shadow: 4px 2px 0px #787f80;
                        font-family: $secondary-font;
                        font-weight: 400;
                        font-size: 10em;
                        @media (min-width: 992px) {
                            text-align: center;
                        }
                        }
                    }
                    .button-container{
                        text-align: center;
                        a{
                            // display: inline-block;
                            // background-color: #c2eaa3;
                            // color: #377500;
                            // font-weight: 600;
                            // text-decoration: none;
                            // padding: 12px 35px;
                            // font-size: 1.5em;
                             @include button(#c2eaa3,#377500);
                            // &:hover{
                            // background-color:  #377500;
                            // color: #c2eaa3;
                            // transition: 0.3s;
                            // }
                        }
                    }
                    // .link-text{
                    //     width: 100%;
                    //     text-align: center;
                    //     padding-top: 36px;
                    //     a{
                    //         color: #fff;
                    //         font-size: 2em;
                    //         text-decoration: none;
                    //         font-weight: 400;
                    //         i{
                    //             vertical-align: middle;
                    //             color: #010101;
                    //         }
                    //     }
                    // } 
                }      
            }
        }
    }
//End hero section

//seller section
.seller-sec {
    margin-bottom: 30px;
    .section-heading{
        position: relative;
        margin-bottom: 40px;
       
        .seller-heading {
            text-align: center;
            text-transform: uppercase;
            padding-top: 50px;
            margin-bottom: 0;
            font-size: 2em;
            color: #4e9100;
            font-family: $primary-font;
            @media (min-width: 768px) {
                font-size: 3rem;
            }
        }
       
        .seller-heading-text {
            text-align: center;
            padding: 17px 0;
            font-weight: 400;
            // font-family: $primary-font;
            color: #3a281f;
            font-size: 1.3em;
    
        }
        
    }
    .btn-container{
        margin: 50px 0;  
        text-align: center;
        a{
            text-decoration: none;
            color: #020202;
            font-size: 30px;
            font-weight: 400;
            i{
                vertical-align: middle;
            }
        }
        
    }
    .seller{
        position: relative;
        margin-bottom: 40px;
        // overflow: hidden;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        a{
            img{
                transition: transform .4s ease-in-out;
            }
            &:hover{
                img{
                    transform: scale(1.2);
                 
                }
            }
        }
        .seller-rupee{
            color: #4e9100;
            font-weight: 700;
            font-size: 1.7em;
            font-family: $primary-font;
            margin: 0;
            text-align: center;
        }
        .seller-text{
            color: #4e9100;
            font-weight: 500;
            font-size: 1.4em;
            font-family: $primary-font;
            margin: 0;
            text-align: center;
            padding-bottom: 10px;
        }
        .seller-img{
            width: 100%;
        }
        // .overlay{
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background: change-color(#000, $alpha: 0.5);
        //     top:0;
        //     left:0;
        //     transform:scale(0);
        //     transition: 0.1s ease-in-out;
        //     i{
        //         color: #fff;
        //         position: absolute;
        //         top:50%;
        //         left: 50%;
        //         transform: translate(-50%,-50%);
        //         font-size: 3em;
        //     }
        // }

        &:hover{
            .overlay{
                transform: scale(1);
            }
        }
    }
    .seller-container{
        .seller-heading-text{
            text-align: right;
            margin: 0;
            padding: 0;
            padding-top: 20px;
                a{
                    text-decoration: none;
                    color: #599914;
                    font-size: 0.9em;
                    font-weight: 500;
                    font-family: $primary-font;
                    @media (min-width: 768px) {
                        font-size: 1.3rem;
                    }
    
                }
        }
    }
}
//end seller section

//GIFT SECTION
.gift-sec{
    padding-top: 80px;
    padding-bottom: 80px;
    .gift-heading-text{
        .gift-heading{
            font-family: $secondary-font;
            text-align: center;
            font-size: 3.9em;
            font-weight: 400;
            color: #459100;
            padding-top: 30px;
            span{
            color: #459100;
            font-family: $primary-font;
            font-weight: 400;
            }
        }
        .gift-text{
            text-align: center;
            font-size: 1.3em;
            font-weight: 400; 
            color: #459100;
            font-family: $primary-font;
            padding-bottom: 20px;
        }
    }
    .gift-img{
        padding-left: 36px;
    }
}
//END GIFT SECTION

//About us section
.aboutus-sec{
    margin-top: 45px;
    .aboutus-img{

    }
    .aboutus-heading-text{
        .aboutus-heading{
            color: #469200;
            font-family: $secondary-font;
            font-size: 6em;
            font-weight: 400;
            text-align: center;
        }
        .aboutus-text{
            color: #020202;
            font-size: 1.2em;
            font-weight: 500;
            text-align: left;
            line-height: 45px;
        }
    }
    .button-container{
        text-align: left;
        .button{
            // display: inline-block;
            // background-color: #c2eaa3;
            // color: #498501;
            // font-weight: 600;
            // text-decoration: none;
            // padding: 12px 29px;
            // border-radius: 6px;
            // box-shadow: 2px 2px 7px 2px #dddddd;
            @include button(#c2eaa3,#377500);
        }
    }
  
}
//End About us section

//categories section
.categories-sec {
    margin-top: 45px;
    margin-bottom: 30px;
    .section-heading{
        position: relative;
        margin-bottom: 20px;
       
        .categories-heading {
            text-align: center;
            text-transform: uppercase;
            padding-top: 50px;
            margin-bottom: 0;
            font-size: 2em;
            color: #4e9100;
            font-weight: 500;
            font-family: $primary-font;
            @media (min-width: 768px) {
                font-size: 3rem;
            }
        }
       .categories-heading-text{
        text-align: right;
        margin: 0;
        padding: 0;
        padding-top: 10px;
            a{
                text-decoration: none;
                color: #599914;
                font-size: 0.9em;
                font-weight: 500;
                font-family: $primary-font;
                @media (min-width: 768px) {
                    font-size: 1.3rem;
                }

            }
            
       
       }
        
    }
    .categories{
        overflow: hidden;
        a{
            img{
                transition: transform .3s ease-in-out;
            }
            &:hover{
                img{
                    transform: scale(0.9);
                 
                }
            }
        }
       
        margin-bottom: 40px;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        .categories-text{
            color: #87b468;
            font-weight: 500;
            font-size: 1.4em;
            font-family: $primary-font;
            margin: 0;
            padding-top: 15px;
            text-align: center;
            padding-bottom: 10px;
        }
        .categories-img{
            width: 100%;
            
        }
        
    }

}
//end categories section

//instragram section
.instragram-sec {
    margin-bottom: 30px;
    margin-top: 80px;
    .section-heading{
        position: relative;
        margin-bottom: 46px;
        .instragram-heading {
            text-align: center;
            margin-bottom: 0;
            font-size: 3em;
            color: #4e9100;
            font-weight: 700;
            font-family: $primary-font;
            span{
            text-align: center;
            text-transform: uppercase;
            
            font-size: 2em;
            color: #4e9100;
            font-weight: 600;
            font-family: $primary-font;
            background-color: #cbf9a3;
            @media (min-width: 768px) {
                font-size: 3rem;
            }
            }
        }    
    }
    .instragram{
        margin-bottom: 40px;
        box-shadow: 3px 4px 12px 13px #d2f7b1;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        .instragram-text{
            color: #87b468;
            font-weight: 500;
            font-size: 1.4em;
            font-family: $primary-font;
            margin: 0;
            padding-top: 15px;
            text-align: center;
            padding-bottom: 10px;
        }
        .instragram-img{
            width: 100%;
        }
    }
}
//end instragram section
//blog section
.blog-section {
    margin-bottom: 121px;
    .tns-outer{
        position: relative;
        .tns-nav{
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            button{
                padding: 10px;
                border: none;
                background-color: #97c657;
                border-radius: 100%;
                box-shadow: none;
                margin-left: 20px;
                &:first-child{
                    margin-left: 0;
                }
                &.tns-nav-active{
                    background-color: #469200;
                }
            }
        }
    }
    .blogheading {
        color: #4e9100;
        text-align: center;
        font-weight: 700;
        margin-top: 93px;
        margin-bottom: 50px;
        font-family: $secondary-font;
        font-size: 4em;
        span{
        font-family: $primary-font;
        }
    }
    .blog-link {
        text-decoration: none;
        color: inherit;
        .card {
            transition: all ease-in-out 0.3s;
            height: 100%;
            .card-body {
                .card-text {
                    text-align: center;
                    padding: 30px;
                    font-family: $primary-font;
                    font-weight: 500;
                    font-size: 1.2em;
                    color: #000000;
                    &:hover {
                        background-color: #ceefb0;
                        color: #469200;
                }
            }
            &:hover {
                background-color: #ceefb0;
        }
                // box-shadow: 6px 6px 18px 3px #b1a8a8;
                // .product-text {
                //     color: #fff;
                // }
                // a {
                //     color: #fff;
                // }
            }
        }
    }
}
//end blog section