.widget-area{
    ul{
        li{
            a{
                text-decoration: none;
                color: #4E9100;
                font-size: 17px;
                font-family: $primary-font;
                font-weight: 500;
            }
        }
    }
}